.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    /* text-align: left !important; */
}

.message__userCard {
    color: white !important;
    background-color: rgb(40, 92, 236) !important;
}

.message__guestCard {
    background-color: #dbdbdb !important;
}